<strong>List of employees</strong>
<div class="example-box__header">
  <div class="example-box__cell">first name</div>
  <div class="example-box__cell">last name</div>
  <div class="example-box__cell">birth date</div>
  <div class="example-box__cell">speciality</div>
</div>
<div class="example-box"
     *ngFor="let employee of employees"
     cdkDrag
     [cdkDragData]="employee">
  <div class="example-box__cell">{{employee.firstName}}</div>
  <div class="example-box__cell">{{employee.lastName}}</div>
  <div class="example-box__cell">{{employee.birthDate}}</div>
  <div class="example-box__cell">{{employee.speciality}}</div>
</div>
